
SpotifyAPIs/SpotifyAPIs/obj/Debug/net7.0/SpotifyAPIs.csproj.FileListAbsolute.txt
SpotifyAPIs/SpotifyAPIs/obj/Debug/net7.0/SpotifyAPIs.csproj.AssemblyReference.cache
SpotifyAPIs/SpotifyAPIs/obj/Debug/net7.0/SpotifyAPIs.csproj.AssemblyReference.cache
SpotifyAPIs/SpotifyAPIs/obj/Debug/net7.0/SpotifyAPIs.csproj.FileListAbsolute.txt
